.FormContainer {
  background-color: rgb(236, 236, 236);
  margin: 4em auto;
  width: 30em;
  /* height: 10em; */
  padding: 1em;
  border-radius: 2%;
}

.Form {
  margin: auto;
  /* background-color: rgb(179, 179, 243); */
  display: flex;
  flex-direction: column;
}

.Form.header {
  margin-bottom: 0.6em;
}

.Form input.standard-input {
  margin: 0.3em 0 1.2em;
  height: 1.5em;
  width: 80%;
  padding-left: 0.3em;
}

.Form textarea {
  margin: 0.3em 0 1.2em;
  width: 80%;
  height: 6em;
  padding: 0.3em;
  resize: none;
  border: 0.5px solid rgb(214, 214, 214);
}

.Form input[type='submit'] {
  width: 20%;
  margin: 1em 0 0.6em;
}

.Form hr {
  border-top: 1px solid rgb(206, 206, 206);
  border-left: none;
  text-align: center;
  width: 100%;
  margin: 0.5em 0 1.5em;
}


/* section for imported components */

/* Geosuggest */

.Form input.geosuggest__input{
  margin-top: 0.3em;
  height: 1.5em;
  width: 80%;
  padding-left: 0.3em;
}

div.geosuggest__suggests-wrapper {
  width: 90%;
  margin-bottom: 1.4em;
}

ul.geosuggest__suggests {
  background-color: white; 
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0.2em;
  padding-inline-start: 0.8em;
  padding: 0.4em 0.5em;

  font-size: 0.8em;
}

ul.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
  padding: 0;
}

.geosuggest__item--active {
  background: #d5edff;
}

li.geosuggest__item {
  margin: 0.4em 0;
}


/* TimePicker */

div.react-time-picker__wrapper, div.react-date-picker__wrapper {
  margin: 0.4em 0 1.2em;
  padding: 0 0.4em 0 0.3em;
}

.react-date-picker--enabled {
  width: 40.5%
}

div.react-time-picker__inputGroup, div.react-date-picker__inputGroup {
  padding: 0.4em;
}

.react-time-picker__inputGroup__divider {
  padding: 0 0.2em 0 0.1em;
  position: relative;
  top: -1px
}

.react-time-picker__inputGroup__leadingZero {
  padding-bottom: 2px;
}

.react-time-picker__clock {
  width: 10.5em;
  height: 10.5em;
  margin-top: -1.25em;
}

.react-clock {
  width: 7em;
  height: 7em;
  margin: 0 auto;
}

/* date picker */
.react-calendar {
  position: relative;
  margin-top: -1.25em
}