.FormContainer {
  background-color: rgb(236, 236, 236);
  position: relative;
  margin-top: 100px;
  left: 34%;
  width: 30em;
  /* height: 10em; */
  padding: 1em;
  border-radius: 2%;
}

.Form {
  margin: auto;
  /* background-color: rgb(179, 179, 243); */
  display: flex;
  flex-direction: column;
}

.Form.header {
  margin-bottom: 0.6em;
}

.Form input {
  margin: 0.3em 0 1.2em;
  height: 1.5em;
  width: 80%;
  padding-left: 0.3em;
}

.Form textarea {
  margin: 0.3em 0 1.2em;
  width: 80%;
  height: 6em;
  padding: 0.3em;
  resize: none;
  border: 0.5px solid rgb(214, 214, 214);
}

.Form input[type='submit'] {
  width: 20%;
  margin: 1em 0 0.6em;
}

.Form hr {
  border-top: 1px solid rgb(206, 206, 206);
  border-left: none;
  text-align: center;
  width: 100%;
  margin: 0.5em 0 1.5em;
}